{% for obj in object_list %}

    <div class="card mt-3 p-3 post-{{obj.id}}">
    <a type="button" class="close p-4 pull-right delete-btn" id="{{obj.id}}" >
            <span>&times;</span>
        </a>

    <p>{{obj.content}}</p>
        <form action="{% url 'pages:like_post' obj.id   %}" method="post" id='{{obj.id}}' class="like-form">
            {% csrf_token %}
            
            <button type="submit" class="btn btn-primary like-btn-{{obj.id}}">
                    {% if request.user in obj.liked.all %}
                    Unlike
                    {% else %}
                    Like
                    {% endif %}
            </button>
        </form>
         
        
        
        
    </div>

{% endfor %}


