{% for obj in object_list %}

    <div class="card mt-3 p-3 post-{{obj.id}}">

    <div class="text-right">
        <button type="button" class="close delete-btn" id="{{obj.id}}" >
             <span aria-hidden="true">&times;</span>
        </button>
    </div> 
    

    <p>{{obj.content}}</p>
        <form action="{% url 'pages:like_post' obj.id   %}" method="post" id='{{obj.id}}' class="like-form">
            {% csrf_token %}

                {% if user.is_authenticated %}
                    {% if request.user in obj.liked.all %}
                    <button type="submit" class="btn btn-outline-primary like-btn-{{obj.id}}">
                    Unlike
                    </button>
                    {% else %}
                    <button type="submit" class="btn btn-primary like-btn-{{obj.id}}">
                    Like
                    </button>
                    {% endif %}
                {% endif %}

            {% with total=obj.total_likes %}
            <small>{{ total }} like{{ total|pluralize }}</small>
            {% endwith %}
            
        </form>
         
        
        
        
    </div>

{% endfor %}


