{% for obj in object_list %}

    <div class="card mt-3 p-3 post-{{obj.id}}">

    <div class="text-right">
        <button type="button" class="close delete-btn" id="{{obj.id}}" >
             <span aria-hidden="true">&times;</span>
        </button>
    </div> 
    

    <p>{{obj.content}}</p>
        <form action="{% url 'pages:like_post' obj.id   %}" method="post" id='{{obj.id}}' class="like-form">
            {% csrf_token %}

                {% if user.is_authenticated %}
                    {% if request.user in obj.liked.all %}
                    <button type="submit" class="btn btn-outline-primary like-btn-{{obj.id}}">
                    Unlike
                    </button>
                    {% else %}
                    <button type="submit" class="btn btn-primary like-btn-{{obj.id}}">
                    Like
                    </button>
                    {% endif %}
                {% endif %}

            {% with total=obj.total_likes %}
            <small>{{ total }} like{{ total|pluralize }}</small>
            {% endwith %}
            
        </form>
         
        
        
        
    </div>

{% endfor %}


 {% if object_list.has_other_pages %}

    <ul class="pagination justify-content-center">

      {% for ag in object_list.paginator.page_range %}

        {% if object_list.number == ag %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" id="{{ ag }}">{{ ag }} </a>
          </li>
         
        {% else %}
          <li class="page-item">
            <a class="page-link" id="{{ ag }}">{{ ag }}</a>
          </li>
        {% endif %}

      {% endfor %}

    </ul>

  {% endif %}
