{% extends 'pages/base.html' %}
{% load static %}  



{% block content %}


<h1 class="page-header">Rooms</h1>
<table  class="table table-bordered"  id="room-table">
    <thead>
        <th>
        Room Number
        </th>
        <th>
        Name
        </th>
        <th>
        Number of Beds
        </th>
        <th>
        Type
        </th>
        <th>
        Actions
        </th>
    </thead>
    <tbody>
        {% include 'pages/includes/room_list.html' %}
    </tbody>
    </table>
    
    
        <button class="btn btn-primary js-create-room"  data-url="{% url 'pages:room_create' %}"> Create Room </button>
    
    

    <div class="modal fade" id="modal-room">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
    

{% endblock %}


{% block js %}
<script  src="{% static 'js/app.js' %}"></script>
{% endblock %}