{% extends 'pages/base.html' %}
{% load static %}  



{% block content %}

<div class="error-msg"></div>

  <form method="post" autocomplete="off">
    {% csrf_token %}
     {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" class="btn btn-info">Sign up</button>
  </form>


{% endblock %}


{% block js %}
<script  src="{% static 'js/app2.js' %}"></script>
{% endblock %}